/* Propiedades de Css para Registro y Login */
.container-principal-login {
    height: 500px;
}

.contenedor-formulario {
    max-width: 400px;
    height: 500px;
    background-color: #f2f2f2;
    margin: 5rem auto;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Reajusto las propiedades del contenedor de Login */
.contenedor-login {
    height: 560px;
    margin: 6rem auto 0 auto
}

.titulo-registro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 100px;
}

.input-registro {
    border: none;
    border-bottom: 1px solid black;
    background-color: #f2f2f2;
    width: 100%;
    margin-bottom: 2rem;
}

.form-check {
    margin-bottom: 2rem;
    font-size: small;
}

.formulario-registro {
    width: 80%;
}

.boton-registro {
    border: 2px solid #0dcaf0;
    color: black;
    background-color: #0dcaf0;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem;
}

.toast-container-login {
    margin-bottom: 5rem;
}

/* Estilos de page para recuperar Password */
.contenedor-recuperacionPassword {
    height: 300px;
}

.container-principal-recuperacionPassword {
    height: 530px;
}

.buttons-login {
    text-decoration: none;
    font-size: small;
}