/* Propiedades de Css para Registro y Login */
.container-principal-login {
    height: 300px;
}

.contenedor-formulario {
    max-width: 400px;
    height: 450px;
    background-color: #f2f2f2;
    margin: 5rem auto;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Reajusto las propiedades del contenedor de Login */
.contenedor-login {
    height: 560px;
    margin: 6rem auto 0 auto
}

.titulo-registro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    font-size: 40px;
}

.input-registro {
    border: none;
    border-bottom: 1px solid black;
    background-color: #f2f2f2;
    width: 100%;
    margin-bottom: 2rem;
}

.form-check {
    margin-bottom: 2rem;
    font-size: small;
}

.formulario-registro {
    width: 80%;
}

.boton-registro {
    border: 2px solid #0dcaf0;
    color: black;
    background-color: #0dcaf0;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem;
    margin-top: 20px;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.boton-registro:hover,
.boton-registro:focus,
.boton-registro:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: sclae(1.1);
    transform: scale(1.1);
}

.toast-container-login {
    margin-bottom: 5rem;
}

/* Estilos de page para recuperar Password */
.contenedor-recuperacionPassword {
    height: 300px;
}

.container-principal-recuperacionPassword {
    height: 530px;
}

.buttons-login {
    text-decoration: none;
    font-size: medium;
}

.text-center.buttons-login {
    padding-top: 20px;
}



.google {
    margin-top: 15px;
    height: 8vh;
    font-size: 1.2em;
    max-width: 240;
    width: fit-content;

}

.check {
    margin-left: 10px;
    margin-top: 3px;
}